<div [formGroup]="donationForm" class="p-fluid p-grid">
    <div *ngIf="currentState == States.ADDED ">
        <div class="p-col-12">
            <div class="margin-div p-field p-col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="yeshutName" 
                       
                        [ngClass]="{ 'field-error': !donationForm.get('yeshutName').valid && donationForm.get('yeshutName').dirty }">
                    <label for="inputtext"><span class="required">*</span>שם הישות המדינית הזרה</label>
                    <span *ngIf="donationForm.get('yeshutName').hasError('letters')" class="error-text ">
                        אותיות בלבד
                    </span>
                </span>
            </div>
            <div class="margin-div p-field p-col-3 ">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="countDonation"
                        [ngClass]="{ 'field-error': !donationForm.get('countDonation').valid && donationForm.get('countDonation').dirty }">
                    <label for="inputtext"><span class="required">*</span>סכום התרומה בש"ח</label>
                    <span *ngIf="donationForm.get('countDonation').hasError('digitsOrfloats')" class="error-text ">
                        מספרים בלבד
                    </span>
                </span>
            </div>
            <div style="width: 30%;" class="margin-div p-field p-col-6 " *ngIf="currentState != States.ORGINAL">
                <span class="p-float-label">
                    <p-dropdown [autoDisplayFirst]="false" inputId="dropdown" [options]="sugYeshutCountryList"
                        [(ngModel)]="selectedsugYeshutCountry.value" optionLabel="label" optionValue="value"
                        formControlName="codeSugYeshut"
                        [ngClass]="{ 'field-error': !donationForm.get('codeSugYeshut').valid && donationForm.get('codeSugYeshut').dirty }">
                    </p-dropdown>
                    <label for="dropdown"><span class="required">*</span>סוג הישות המדינית הזרה</label>
                </span>
            </div>
        </div>
        <div class="p-col-12">
            <div style="width: 91%;" class="margin-div p-field p-col-12 ">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="reasonDonation"
                        [ngClass]="{ 'field-error': !donationForm.get('reasonDonation').valid && donationForm.get('reasonDonation').dirty }">
                    <label for="inputtext"><span class="required">*</span>ייעוד התרומה</label>
                    <span *ngIf="donationForm.get('reasonDonation').hasError('letters')" class="error-text ">יש למלא
                        אותיות באנגלית או עברית בלבד
                    </span>
                </span>
            </div>
        </div>
        <div class="p-col-12">
            <div style="width: 91%;" class="margin-div p-field p-col-12 ">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="conditionDonation"
                        [attr.disabled]="disable">
                    <label for="inputtext">התנאים לתרומה</label>
                    <span *ngIf="donationForm.get('conditionDonation').hasError('letters')" class="error-text ">יש למלא
                        אותיות באנגלית או עברית בלבד
                    </span>
                </span>
            </div>
        </div>
        <div class="p-col-12">
            <div style="width: 25%;" class="margin-div p-field p-col-6 " *ngIf="currentState != States.ORGINAL">
                <span class="p-float-label">
                    <p-dropdown [autoDisplayFirst]="false" inputId="dropdown" [options]="currencyList"
                        [(ngModel)]="selectedcurrency.value" optionLabel="label" optionValue="value"
                        formControlName="codeSugCurrency"
                        [ngClass]="{ 'field-error': !donationForm.get('codeSugCurrency').valid && donationForm.get('codeSugCurrency').dirty }">
                    </p-dropdown>
                    <label for="dropdown"><span class="required">*</span>סוג המטבע</label>
                </span>
            </div>
            <div style="margin-left:40% ;" class="margin-div p-field p-col-6 ">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="conversionRate"
                        [ngClass]="{ 'field-error': !donationForm.get('conversionRate').valid && donationForm.get('conversionRate').dirty }">
                    <label for="inputtext"><span class="required">*</span>שער ההמרה</label>
                </span>
            </div>
        </div>
        <div class="p-col-12">
            <div class="margin-div p-field p-col-6 button">
                <p-button label="שמירה" title="שמירה" (onClick)="Save(currentState)" [disabled]="isSuccess"></p-button>
                <app-hatraah [message]="message" [isSuccess]="isSuccess"></app-hatraah>

            </div>
            <div class=" p-field p-col-6 button">
                <p-button class="pButton" label="ניקוי" title="ניקוי" (onClick)="reset()"></p-button>
            </div>
           
        </div>
     
    </div>
    
    <div *ngIf="currentState == States.ORGINAL || currentState == States.UPDATED">
        <div class="p-fluid p-grid">
            <div class=" p-field p-col-12">
                <span class="p-float-label">
                  
                    <input class="margin" type="text" id="inputtext" pInputText formControlName="yeshutName" [value]="donationdata.yeshutName" [attr.disabled]="disable"
                        [ngClass]="{ 'field-error': !donationForm.get('yeshutName').valid && donationForm.get('yeshutName').dirty }" [(ngModel)]="donationdata.yeshutName">
                        <label for="inputtext"><span class="required">*</span>שם הישות המדינית הזרה</label>
                        <span *ngIf="donationForm.get('yeshutName').hasError('letters')" class="error-text ">יש למלא אותיות
                        באנגלית או עברית בלבד
                    </span>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input class="margin" id="float-input" type="text" pInputText formControlName="countDonation"  [value]="donationdata.countDonation"
                        [attr.disabled]="disable"
                        [ngClass]="{ 'field-error': !donationForm.get('countDonation').valid && donationForm.get('countDonation').dirty }">
                        <label for="float-input">סכום התרומה בש"ח</label>
                        <span *ngIf="donationForm.get('countDonation').hasError('digitsOrfloats')" class="error-text ">יש
                        למלא מספרים בלבד
                    </span>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label margin">
                    <p-dropdown class="margin" *ngIf="currentState == States.UPDATED" [autoDisplayFirst]="false" inputId="dropdown"
                        [options]="sugYeshutCountryList" [(ngModel)]="selectedsugYeshutCountry.value"
                        optionLabel="label" optionValue="value" formControlName="codeSugYeshut"
                        [ngClass]="{ 'field-error': !donationForm.get('codeSugYeshut').valid && donationForm.get('codeSugYeshut').dirty }">
                    </p-dropdown>
                    <input class="margin" *ngIf="currentState == States.ORGINAL" id="float-input" type="text" pInputText
                        optionLabel="label" optionValue="value" formControlName="codeSugYeshut"
                        [attr.disabled]="disable"  [value]="donationdata.codeSugYeshut"
                        [ngClass]="{ 'field-error': !donationForm.get('codeSugYeshut').valid && donationForm.get('codeSugYeshut').dirty }">
                        <label for="float-input">סוג הישות המדינית הזרה </label>

                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">

                    <input class="margin" id="float-input" type="text" pInputText formControlName="reasonDonation" [value]="donationdata.reasonDonation"
                        [attr.disabled]="disable"
                        [ngClass]="{ 'field-error': !donationForm.get('reasonDonation').valid && donationForm.get('reasonDonation').dirty }">
                        <label for="float-input">ייעוד התרומה</label>
               
                    </span>
                <span *ngIf="donationForm.get('reasonDonation').hasError('letters')" class="error-text ">יש למלא אותיות
                    באנגלית או עברית בלבד
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">

                    <input class="margin" id="float-input" type="text" pInputText formControlName="conditionDonation" [value]="donationdata.conditionDonation"
                        [attr.disabled]="disable">
                        <label for="float-input">התנאים לתרומה </label>
                  
                        <span *ngIf="donationForm.get('conditionDonation').hasError('letters')" class="error-text ">יש למלא
                        אותיות באנגלית או עברית בלבד
                    </span>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label  margin">
                    <p-dropdown  *ngIf="currentState == States.UPDATED" [options]="currencyList"
                        [(ngModel)]="selectedcurrency.value" optionLabel="label" optionValue="value"
                        formControlName="codeSugCurrency"
                        [ngClass]="{ 'field-error': !donationForm.get('codeSugCurrency').valid && donationForm.get('codeSugCurrency').dirty }">
                    </p-dropdown>
                    <input  class="margin" *ngIf="currentState == States.ORGINAL" id="float-input" type="text" pInputText
                        optionLabel="label" optionValue="value" formControlName="codeSugCurrency" [value]="donationdata.codeSugCurrency"
                        [attr.disabled]="disable">
                    <label for="float-input">סוג המטבע </label>

                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <input  class="margin" id="float-input" type="text" pInputText formControlName="conversionRate"  [value]="donationdata.conversionRate"
                        [attr.disabled]="disable"
                        [ngClass]="{ 'field-error': !donationForm.get('conversionRate').valid && donationForm.get('conversionRate').dirty }">
                        <label for="float-input">שער ההמרה </label>
               
                    </span>
            </div>
            <app-hatraah [message]="message" [isSuccess]="isSuccess"></app-hatraah>

            <div class="center" *ngIf="currentState == States.ORGINAL? false: true">
                <div class="margin buttons">
                <p-button class="margin" label="שמירה" title="שמירה" (onClick)="Save(currentState)" [disabled]="isSuccess"></p-button>
            </div >
            <div id="reset" class="margin buttons">
                <p-button class="margin" label="ניקוי" title="ניקוי" (onClick)="reset()"></p-button>
            </div>
            </div>    
         
        </div>
   
    </div>
   
</div>

