<div class="card">
<p-table sortMode="multiple"  [paginator]="true"
[rows]="20"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[20, 40, 60, 80,100]" [value]="listOfInvestment">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.time}}</td>
            <td>{{item.open}}</td>
            <td>{{item.high}}</td>
            <td>{{item.low }}</td>
            <td>{{item.close}} </td>       
            <td>{{item.price_difference}} </td>
        </tr>
    </ng-template>

<ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
<!-- 
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button> -->
</p-table>

<div>
    <h1>רווח מקסימלי </h1>
    <h1>בתאריך {{buyDate}} הכי שווה לקנות </h1>
    <h1>{{Min}} המחיר הוא </h1>
    <h1>בתאריך {{dateSale}} הכי שווה למכור</h1>
    <h1>{{Max}} המחיר הוא </h1>

</div>
</div>

