<p-table [rowHover]="true"  dataKey="id" 
[rows]="10" [showCurrentPageReport]="true" 
 [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20,40,80,100]"
[totalRecords]="totalRecords" [pageLinks]="3"  [first]="first"
    [(selection)]="listOfInvestment"  [value]="listOfInvestment">
    <ng-template pTemplate="header" let-rowData>
        <tr>
          <th *ngFor="let col of rowData.detailsDay" [pSortableColumn]="col.field" >
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of rowData.detailsDay">
          {{rowData[col.field]}}
        </td>
        </tr>
      </ng-template>


    <ng-template pTemplate="header" let-sortitem>
        <tr>
            <th >תאריך  </th>
            <th pSortableColumn="sortitem.detailsDay['1. open']">מחיר פתיחה <p-sortIcon field="sortitem.detailsDay['1. open']"></p-sortIcon></th>
            <th pSortableColumn="sortitem.detailsDay['4. close']">מחיר סגירה <p-sortIcon field="sortitem.detailsDay['4. close']"></p-sortIcon></th>
            <th pSortableColumn="sortitem.detailsDay['2. high']">מחיר הכי גבוה <p-sortIcon field="sortitem.detailsDay['2. high']"></p-sortIcon></th>
            <th pSortableColumn="sortitem.detailsDay['3. low']">מחיר הכי נמוך <p-sortIcon field="sortitem.detailsDay['3. low']"></p-sortIcon></th>
            <th pSortableColumn="sortitem..detailsDay['4. close']-item.detailsDay['1. open']" >  <p-sortIcon feild="sortitem..detailsDay['4. close']-item.detailsDay['1. open']" ></p-sortIcon>הפרש בין מחיר פתיחה לסגירה</th>
        </tr>
    </ng-template> 
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.time}}</td>
            <td>{{item.detailsDay["1. open"]}}</td>
            <td>{{item.detailsDay["4. close"]}} </td>
            <td>{{item.detailsDay["2. high"]}}</td>
            <td>{{item.detailsDay["3. low"] }}</td>
            <td>{{item.detailsDay["4. close"]-item.detailsDay["1. open"]}} </td>
        </tr>
    </ng-template>
</p-table>
