.direction{
   direction: rtl;
}
.pull-left{
    float:left;
}

span{
    margin-left:10px;
   position: relative;
}
.card{
    width: 70%;
    margin: 10px;
    direction: rtl;
}
.margin{
  direction: rtl;
}

div div p-button  .p-ripple {
    border-radius: 100px;
}
