<div class="margin">
    <div *ngFor="let item of donationListItem ">
        <div class="card">
            <p-card>
                <label> ש"ח  {{item.donation.countDonation}} <span style=" font-weight: bold;">{{item.donation.yeshutName}}</span> </label>

                <span class=" pull-left pi" [ngClass]="{' pi-angle-down' : !isClicable , 'pi-angle-up': isClicable}"
                    (click)="openOrginalDonationForm(item.donation);"></span>
                <span class="pi pi-trash pull-left" (click)=deleteDonation(item.donation)></span>
                <span class="pi pi-pencil pull-left" (click)="openEditDonationForm(item.donation);" *ngIf=" item.donation.codeMishtameshYotzer == null ||identity==item.donation.codeMishtameshYotzer"></span>
                <ng-template pTemplate="footer">
                    <ng-container *ngIf="item.show">
                        <app-add-donation [isclicable]="isClicable" [donationdata]="item.donation"
                            [currentState]="state"></app-add-donation>
                    </ng-container>
                </ng-template>
            </p-card>

        </div>
    </div>
    <div >
        <p-button (onClick)="openDonationFormDialog()" label="הוספת תרומה" title="הוספת תרומה">
        </p-button>
    </div>
</div>